@{
    ViewBag.Title = "About";
}

@using (Html.BeginForm())
{
    <table class="table login-table">
        <tr>
            <th colspan="3" class="text-center">
                <h1>
                    Investment Game
                </h1>
                <h3>INSTRUCTIONS</h3>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <p class="lead">
                    &nbsp;&nbsp;&nbsp;&nbsp;Today you are going to be playing a buying and selling game for real money.&nbsp;&nbsp;
                    However much you win, will be paid out at the conclusion of the session.&nbsp;&nbsp;
                    You will playing four rounds of this buying and selling game against another person at another location.&nbsp;&nbsp;
                    Each round will be with the same person.&nbsp;&nbsp;
                    Everyone accessing this app is a buyer and everyone accessing the other app is a seller.&nbsp;&nbsp;
                    A buyer is someone who purchases a product or service with the expectation of some type of benefit.&nbsp;&nbsp;
                    A seller is an entity which provides a product or service.&nbsp;&nbsp;
                    Just to recap everyone in this using the app your are accessing is a buyer.
                </p>

                <p class="lead">
                    In this game you will have the opportunity to buy a financial investment from a seller.&nbsp;&nbsp;
                    As a buyer you can choose to invest all, some, or none of the money in the financial investment with the seller.&nbsp;&nbsp;
                    If you choose to invest, the amount of money you invest will be multiplied by a set amount provided on the form and given to the seller.&nbsp;&nbsp;
                    The seller will then have the opportunity to return all, some, or none of the money back to you before the next round commences.&nbsp;&nbsp;
                    For example if you are playing around where you have $1 to invest and there is a 6X multiplier you can choose to keep the $1 and give nothing to the seller in which case you will receive $1 for this round at the end of the study.&nbsp;&nbsp;
                    If you choose to keep $.50 and give the seller $.50 the seller will receive $.50 multiplied by 6 or $3.&nbsp;&nbsp;
                    The seller can choose to keep the $3, share some of the profit back with you, or keep all the money for themselves.&nbsp;&nbsp;
                    In the scenario if the seller chooses to share half of their $3 with you, you would end up with $1.50 plus the $.50 you and hence you would make $2 total.&nbsp;&nbsp;
                    Given the same scenario where you are given a dollar and there is a 6X multiplier you can choose to give the entire amount to the seller.&nbsp;&nbsp;In this case the seller would receive $6 and they can choose to keep all, some, or none of that money.&nbsp;&nbsp;For example, they could give you back any amount ranging from one penny to the full $6 or any increment in between.&nbsp;&nbsp;
                    Both parties will be awarded money from this split at the end of the game.
                </p>

                <p class="lead">
                    Please keep in mind that there are four rounds total and you will be playing with the same person in each round.&nbsp;&nbsp;
                    If you do not understand any aspects of the game please ask so you can make the most amount of money possible.&nbsp;&nbsp;
                    Your goal is to make the maximum amount of money possible.&nbsp;&nbsp;
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-center">
                    <a href="~/Home/Index" class="btn btn-default btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Return</a>
                </p>
            </td>
        </tr>
    </table>


}