@model Economic_Game.Models.Game

@{
    ViewBag.Title = "Waiting";
}

    <script>
        $(document).ready(function () {

            $('#submitButton').prop('disabled', true);

            var $pG = $('#progressbar').progressbar();

            var step1 = 10000 + Math.floor(Math.random() * 5000);
            var period1 = step1;
            var speed1 = step1 / 50;

            var step2 = 3000 + Math.floor(Math.random() * 3000);
            var period2 = step2 + period1;
            var speed2 = step2 / 50;

            $pG.progressbar({
                value: 1
            });

            setTimeout(function () {
                $('#progressMessage1').fadeIn(200);
                var pGress = setInterval(function () {
                    var pVal = $pG.progressbar('option', 'value');
                    var pCnt = !isNaN(pVal) ? (pVal + 1) : 1;
                    if (pCnt > ((period1 / period2) * 100)) {
                        clearInterval(pGress);
                    } else {
                        $pG.progressbar({
                            value: pCnt
                        });
                    }
                }, speed1);
            }, 0);

            setTimeout(function () {
                $('#progressMessage1').fadeOut(200);
            }, period1);

            setTimeout(function () {
                $('#progressMessage2').fadeIn(200);
                var pGress = setInterval(function () {
                    var pVal = $pG.progressbar('option', 'value');
                    var pCnt = !isNaN(pVal) ? (pVal + 1) : 1;
                    if (pCnt > ((period2 / period2) * 100)) {
                        clearInterval(pGress);
                    } else {
                        $pG.progressbar({
                            value: pCnt
                        });
                    }
                }, speed2);
            }, period1);

            setTimeout(function () {
                $('#progressMessage2').fadeOut(200);
            }, period2);

            setTimeout(function () {
                $('#messageForm').submit();
            }, period2 + 300);
        });
        </script>

    <div class="container body-content">

        @using (Html.BeginForm("Waiting", "Home", FormMethod.Post, new { id = "messageForm" }))
        {
            @Html.HiddenFor(x => x.GameID)
            @Html.HiddenFor(x => x.CurrentRound)

            <table class="table login-table">
                <tr>
                    <th colspan="3" class="text-center">
                        <h1>
                            Investment Game
                        </h1>
                        <h3>BUYER PORTAL</h3>
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <br /><br />
                        <div id="progressbar"></div>

                        <div id="progressMessageArea" style="text-align: center; font-weight: bold; height: 50px; vertical-align: middle;">

                            <div id="progressMessage1">
                                Waiting for seller's response...
                            </div>
                            <div id="progressMessage2">
                                Response received...
                            </div>
                            @*<div id="progressMessage3">
                                Setting up game...
                            </div>
                            <div id="progressMessage4">
                                Waiting for Player to join the game...
                            </div>
                            <div id="progressMessage5">
                                Ready to Play.  Click <strong>Play</strong> to begin.
                            </div>*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @*<p class="text-center">
                            <button id="submitButton" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Play</button>
                        </p>*@
                    </td>
                </tr>
            </table>


        }